<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stripe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="content" class="container">
    <header id="content-header">
        <div id="price-container">
          <span class="glyphicon glyphicon-tag"></span><span class="price">
          <%= @product.price %></span>
        </div>
        <%= image_tag('header-image.jpg', id: 'content-header-img', alt: 'Learn Growth Hacking') %>
    </header>
<%= yield %>

</div>

</body>
</html>
